@media print {
#inputs {
	display: none;
}
#random-table {
    /*background-color: white;*/
    /*height: 100%;*/
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 15px;
    font-size: 14px;
    line-height: 18px;
}
}
@media all{
.random-number {
	border-width: 1px;
	border-style: solid;
	border-right-style: none;
	padding: 1em;
	text-align: center;
	color:red;
	font-weight: bolder;
}
.random-number:last-child{
	border-right-style: solid;
}
}